<div class="sidebar-inner slimscrollleft">
  <!--- Divider -->
  <div id="sidebar-menu">
    <ul>
      <li>
        <%= link_to admins_users_path do %>
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>Users</span>
        <% end %>
      </li>

      <li>
        <%= link_to admin_session_path do %>
          <i class="fa fa-product-hunt" aria-hidden="true"></i>
          <span>Products</span>
        <% end %>
      </li>
      <li>
        <%= link_to admins_subscribers_path do %>
        <i class="fa fa-product-hunt" aria-hidden="true"></i>
        <span>Subscribers</span>
        <% end %>
      </li>

    </ul>

    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
